@page
@model Torneo.App.Frontend.Pages.DTs.DetailsModel
@{
}
<h1>Detalle del Director Tecnico</h1>
<table class="table table-striped">
<tr>
<th scope="col">Id</th>
<td>@Model.dt.Id</td>
</tr>
<tr>
<th scope="col">Nombre</th>
<td>@Model.dt.Nombre</td>
</tr>
</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>